In [ ]:
# Fase 1
# Criação de Pipeline de Extração, Limpeza, Transformação e Enriquecimento de Dados
# Versão 1

In [1]:
# Imports
import csv
import sqlite3

In [3]:
# Cria um novo banco de dados
conn = sqlite3.connect('adults.db')

In [4]:
# Cria uma tabela para armazenar os dados de produção de adult
conn.execute('''CREATE TABLE adults (
                age INTEGER,
                workclass TEXT,
                fnlwgt INTEGER,
                education TEXT,
                education_num INTEGER,
                marital_status TEXT,
                occupation TEXT,
                relationship TEXT,
                race TEXT,
                sex TEXT,
                capital_gain INTEGER,
                capital_loss INTEGER,
                hours_per_week TEXT,
                native_country TEXT,
                income TEXT
            )''')

In [5]:
# Grava e fecha a conexão
conn.commit()
conn.close()

In [9]:
# Abre o arquivo CSV com os dados de adult
with open('Dados/adult.csv', 'r') as file:
    # Cria um leitor de CSV para ler o arquivo
    reader = csv.reader(file)

    # Pula a primeira linha, que contém os cabeçalhos das colunas
    next(reader)

    # Conecta ao banco de dados
    conn = sqlite3.connect('adults.db')

    # Insere cada linha do arquivo na tabela do banco de dados
    for row in reader:
        conn.execute('INSERT INTO adults (age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, income) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)', row)

    conn.commit()
    conn.close()

print("Fase Concluída com Sucesso!")

Fase Concluída com Sucesso!