In [ ]:
# Fase3
# Criação de Pipeline de Extração, Limpeza, Transformação e Enriquecimento de Dados
# Versão 3
# Regra de negócio: Criar categorias de faixa etária para a variável age

In [1]:
# Imports
import csv
import sqlite3

In [2]:
def faixa_etaria(age):
    age = int(age)
    age_group = str(age)
    if age <= 20:
        age_group = age_group.replace(age_group, "17-20")
    elif age > 20 and age <= 30:
        age_group = age_group.replace(age_group, "21-30")
    elif age > 30 and age <= 40:
        age_group = age_group.replace(age_group, "31-40")
    elif age > 40 and age <= 50:
        age_group = age_group.replace(age_group, "41-50")
    elif age > 50 and age <= 60:
        age_group = age_group.replace(age_group, "51-60")
    elif age > 60 and age <= 70:
        age_group = age_group.replace(age_group, "61-70")
    elif age > 70 and age <= 80:
        age_group = age_group.replace(age_group, "71-80")
    elif age > 80 and age <= 90:
        age_group = age_group.replace(age_group, "81-90")
    else:
        age_group = age_group.replace(age_group, "Above 91")
    return age_group

In [3]:
# Abre o arquivo CSV com os dados de adult
with open('Dados/adult.csv', 'r') as file:
    
    # Cria um leitor de CSV para ler o arquivo
    reader = csv.reader(file)

    # Pula a primeira linha, que contém os cabeçalhos das colunas
    next(reader)

    # Conecta ao banco de dados
    conn = sqlite3.connect('adults.db')

    # Deleta a tabela existente, se houver
    conn.execute('DROP TABLE IF EXISTS adults')
  
    # Cria uma nova tabela para armazenar os dados de adult
    conn.execute('''CREATE TABLE adults (
                age INTEGER,
                workclass TEXT,
                fnlwgt INTEGER,
                education TEXT,
                education_num INTEGER,
                marital_status TEXT,
                occupation TEXT,
                relationship TEXT,
                race TEXT,
                sex TEXT,
                capital_gain INTEGER,
                capital_loss INTEGER,
                hours_per_week TEXT,
                native_country TEXT,
                income TEXT,
                age_group TEXT
            )''')

    # Insere cada linha do arquivo adult com quantidade maior que 0 e menor que 99999 na tabela do banco de dados
    for row in reader:
        if int(row[0]) > 0 and int(row[10]) < 99999:
            
            # Cria a coluna com as faixas etárias
            age_group = faixa_etaria(row[0])
            
            # Aplica a função faixa_etaria aplicando engenharia de atributos
            conn.execute('''INSERT INTO adults (
                         age, 
                         workclass, 
                         fnlwgt, 
                         education, 
                         education_num, 
                         marital_status, 
                         occupation, 
                         relationship, 
                         race, 
                         sex, 
                         capital_gain, 
                         capital_loss, 
                         hours_per_week, 
                         native_country, 
                         income,
                         age_group
                         ) VALUES (?, ?, ?,   ?, ?, ?,   ?, ?, ?,   ?, ?, ?,   ?, ?, ?,  ?)''',
                         ( row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9], row[10], row[11], row[12], row[13], row[14], age_group))

    conn.commit()
    conn.close()

print("Fase Concluída com Sucesso!")

Fase Concluída com Sucesso!